Cloud Consulting/force-app/main/default/flows/Create_Out_of_Office_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Out_Of_Office_Requests</name>
        <label>Create Out Of Office Requests</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>OutRequestService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Out_Of_Office_Request</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>ToSendOutRequestList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ToCreateOutRequestList</assignToReference>
            <name>outputMember</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Request_for_Approval_to_PM_ans_SL</name>
        <label>Submit Request for Approval to PM ans SL</label>
        <locationX>264</locationX>
        <locationY>1118</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Clear_Approvers_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>ApproveOutOfOfficeRequestProcess</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ApproversForTheRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_Created_Out_Of_Office_Request.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>Loop_Created_Out_Of_Office_Request.Resource__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Out_Request_To_Send</name>
        <label>Add Out Request To Send</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ToSendOutRequestList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OutOfOfficeRequestData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Out_Of_Office_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Approvers_Collection</name>
        <label>Clear Approvers Collection</label>
        <locationX>264</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>ApproversForTheRequest</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Created_Out_Of_Office_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approvers_for_the_cuurent_Request</name>
        <label>Set Approvers for the cuurent Request</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ApproversForTheRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Created_Out_Of_Office_Request.Project__r.Project_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Request_for_Approval_to_PM_ans_SL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ResourceId_To_The_Out_Request</name>
        <label>Set ResourceId To The Out Request</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>OutOfOfficeRequestData.Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Out_Request_To_Send</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_The_Request_Pending_Approval</name>
        <label>Is The Request Pending Approval</label>
        <locationX>396</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Loop_Created_Out_Of_Office_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Pending_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Created_Out_Of_Office_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approvers_for_the_cuurent_Request</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Create out of Office Request with new API Name</description>
    <environments>Default</environments>
    <interviewLabel>Create Out of Office Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Out of Office Request</label>
    <loops>
        <name>Loop_Created_Out_Of_Office_Request</name>
        <label>Loop Created Out Of Office Request</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>ToCreateOutRequestList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_The_Request_Pending_Approval</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success_Finished</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Out_Of_Office_Request</name>
        <label>Create Out Of Office Request</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Loop_Created_Out_Of_Office_Request</targetReference>
        </connector>
        <inputReference>ToCreateOutRequestList</inputReference>
    </recordCreates>
    <screens>
        <name>Out_of_Office_Request</name>
        <label>Out of Office Request</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_ResourceId_To_The_Out_Request</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>OutOfOfficeRequestData.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>OutOfOfficeRequestData.Description__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>OutOfOfficeRequestData.Start_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>OutOfOfficeRequestData.End_Date__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Finished</name>
        <label>Success Finished</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Mensage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(39, 215, 37);&quot;&gt;&lt;em&gt;Your Out of office request was Successfully created!!&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(83, 211, 33);&quot;&gt;&lt;em&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Out_of_Office_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApproveOutOfOfficeRequestProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Approve_Out_Of_Office_Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApproversForTheRequest</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutOfOfficeRequestData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Out_office_req__c</objectType>
    </variables>
    <variables>
        <name>ToCreateOutRequestList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Out_office_req__c</objectType>
    </variables>
    <variables>
        <name>ToSendOutRequestList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Out_office_req__c</objectType>
    </variables>
</Flow>
